$bootstrap-sass-asset-helper: false;
$icon-font-name: 'glyphicons-halflings-regular';
$icon-font-svg-id: 'glyphicons_halflingsregular';
$icon-font-path: '../fonts/';
@import "./_glyphicons";
@import "../../node_modules/bootstrap-daterangepicker/daterangepicker.css";
