<template>
    <section class="bg-light">
        <div class="container mt-0">
            <div v-if="this.friends.length" class="row gutter-1 gutter-lg-4">
                <div class="col-lg-4">
                    <div class="row gutter-1 card card-default">

                        <div class="col-2 col-md-1 col-lg-12" @click.prevent="openChat(friend)" v-for="friend in friends" :key=friend.id>
                            <div v-bind:class="[friend.session && friend.session.open ? 'active' : '', 'chat']">
                                <a href="">
                                    <img class="chat-photo" :src="friend.avatar" alt="">
                                    <span class="chat-name">{{ friend.name }}</span>
                                    <span v-if="friend.session && friend.session.unreadCount" class="text-danger">
                                        {{ friend.session.unreadCount }}
                                    </span>
                                </a>
                                <i class="fa fa-circle float-right text-success" v-if="friend.online" area-hidden="true"></i>
                            </div>
                        </div>

                    </div>
                </div>

                <span v-for="friend in friends" :key=friend.id v-if="friend.session"
                      v-bind:class="[friend.session.open ? '' : 'position-absolute', 'col-lg-8']">
                    <message-component v-if="friend.session.open" @removeUser="removeUser(friend)" @close="close(friend)" :friend=friend />
                </span>

            </div>

            <div v-if="!this.friends.length" class="row gutter-1 gutter-lg-4">
                <div class="col-12">
                    <h2 class="font-weight-bold mb-1">Your inbox is empty now.</h2>
                    <p class="lead">Check out our list of experts and get in touch with any one of them</p>
                    <a href="/experts" class="btn btn-primary btn-with-icon mt-2">Browse Experts <i class="icon-search"></i></a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import MessageComponent from './MessageComponent';

    export default {
        components: {
            MessageComponent
        },
        data() {
            return {
                friends: []
            }
        },
        methods: {
            close(friend) {
                console.log(friend);
                friend.session.open = false;
            },
            getFriends() {
                axios.post('/getFriends').then(res => {
                    this.friends = res.data.data;

                    this.friends.forEach((friend, key) => {
                        if (friend.session) {
                            this.listenForEverySession(friend);
                        }

                        if (key == 0) {
                            this.openChat(friend);
                        }
                    });
                });
            },
            openChat(friend) {
                if (friend.session) {
                    this.activateChat(friend);
                } else {
                    this.createSession(friend);
                }
            },
            removeUser(friend) {
                console.log(friend);
                this.friends = this.friends.filter(f => f.id != friend.id);

                if (this.friends.length) {
                    this.openChat(this.friends[0]);
                }
            },
            createSession(friend) {
                axios.post('/session/create', {friend_id: friend.id}).then(res => {
                    friend.session = res.data.data;
                    this.activateChat(friend);
                });
            },
            activateChat(friend) {
                this.friends.forEach(friend => {
                    if (friend.session) {
                        friend.session.open = false;
                    }
                });

                friend.session.open = true;
                friend.session.unreadCount = 0;
            },
            listenForEverySession(friend) {
                Echo.private(`Chat.${friend.session.id}`)
                    .listen('Message', e => {
                        if (!friend.session.open) {
                            friend.session.unreadCount++;
                        }
                    });
            }
        },
        created() {
            this.getFriends();

            Echo.channel('Chat')
                .listen('SessionEvent', e => {
                    const friend = this.friends.find(friend => friend.id == e.session_by);
                    friend.session = e.session;
                    this.listenForEverySession(friend);
                });

            Echo.join('Chat')
                .here(users => {
                    this.friends.forEach(friend => {
                        users.forEach(user => {
                            if (user.id == friend.id) {
                                friend.online = true;
                            }
                        });
                    });
                })
                .joining(user => {
                    this.friends.forEach(friend => {
                        if (user.id == friend.id) {
                            friend.online = true;
                        }
                    });
                })
                .leaving(user => {
                    this.friends.forEach(friend => {
                        if (user.id == friend.id) {
                            friend.online = false;
                        }
                    });
                });
        }
    };
</script>
