<template>
    <div>
        <div class="chat-options">
            <div class="row align-items-center">
                <div class="col">
                    <span :class="{'text-danger':session.block}" class="p-2">
                        {{ friend.name }}
                        <span v-if="session.block">(Blocked)</span>
                    </span>
                </div>
                <div class="col text-right">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                        <div class="btn-group" role="group">
                            <button type="button" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-icon btn-light">
                                <i class="icon-more-vertical" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a href="#" class="dropdown-item" v-if="session.block && canUnblock" @click.prevent="unblock">UnBlock</a>
                                <a href="#" class="dropdown-item" v-if="!session.block" @click.prevent="block">Block</a>
                                <a href="#" class="dropdown-item" @click.prevent="clear">Clear chat</a>
                            </div>
                        </div>

                        <button type="button" class="btn btn-icon btn-light" @click.prevent="removeUser">
                            <i class="icon-x" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-panel">
            <div class="chat-body" v-chat-scroll>
                <div class="message" :class="{'message-flip': chat.type == 'sent', 'text-success': chat.read_at}"
                     v-for="chat in chats" :key="chat.key">
                    <div class="message-content">
                        <p>{{ chat.message }}</p>
                        <time datetime="2019-08-24 11:00">{{ chat.sent_at }}</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-message">
            <div class="form-group text-right">
<!--                    <input type="text" class="form-control" placeholder="Write your message here" :disabled="session.block" v-model="message">-->
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Your message here.." :disabled="session.block" v-model="message"></textarea>
                <a href="" class="btn btn-block btn-primary" @click.prevent="send">Send Message</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'friend'
        ],
        data() {
          return {
              chats: [],
              message: null
          }
        },
        computed: {
            session() {
                return this.friend.session;
            },
            canUnblock() {
                return this.session.blocked_by == authID;
            }
        },
        methods: {
            send() {
                if (this.message) {
                    this.pushToChats();

                    axios.post(`/send/${this.session.id}`, {
                        message: this.message,
                        to_user: this.friend.id
                    }).then(res => this.chats[this.chats.length - 1].id = res.data);

                    this.message = null;
                }
            },
            pushToChats() {
                this.chats.push({
                    message: this.message,
                    type: 'sent',
                    read_at: null,
                    sent_at: 'Just Now'
                });
            },
            close() {
                this.$emit('close');
            },
            removeUser() {
                axios.get(`/remove-chat/${this.friend.username}`)
                    .then(res => { this.$emit('removeUser', this.friend) });
            },
            clear() {
                axios.post(`/session/${this.session.id}/clear`)
                    .then(res => this.chats = []);
            },
            block() {
                this.session.block = true;
                axios.post(`/session/${this.session.id}/block`)
                    .then(res => (this.session.blocked_by = authID));
            },
            unblock() {
                this.session.block = false;
                axios.post(`/session/${this.session.id}/unblock`)
                    .then(res => (this.session.blocked_by = null));
            },
            getAllMessages() {
                axios.post(`/session/${this.session.id}/chats`)
                    .then(res => this.chats = res.data.data);
            },
            read() {
                axios.post(`/session/${this.session.id}/read`);
            }
        },
        created() {
            this.read();
            this.getAllMessages();

            Echo.private(`Chat.${this.session.id}`)
                .listen('Message', e => {
                    if (this.session.open) {
                        this.read();
                    }

                    this.chats.push({
                        message: e.message,
                        type: 'received',
                        sent_at: 'Just Now'
                    });
                })
                .listen('MessageRead', e => {
                    this.chats.forEach(chat => {
                        if (chat.id == e.chat.id) {
                            chat.sent_at = e.chat.sent_at;
                        }
                    });
                })
                .listen('Block', e => {
                    this.session.block = e.block;
                });
        }
    };
</script>

<style>
    .chat-box {
        height: 400px;
    }
    .card-body {
        overflow-y: scroll;
    }
</style>
